@use 'sass:color';
@use './defaults.scss' as *;

@mixin defaultHero() {
	display: flex;
	flex-direction: column;
	align-self: center;

	flex-grow: 1;

	padding-bottom: 0.5rem;
}

@mixin textGradient3($deg, $color1, $color2, $color3) {
	background: linear-gradient($deg, $color1, $color2, $color3);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

@mixin heroGradientDefault() {
	padding-bottom: 5px;
	background: linear-gradient(69deg, $sky, $mauve, $green) left bottom $surface1 no-repeat;
	background-size: 100% 5px;
}

@mixin heroGradientBlog() {
	padding-bottom: 5px;
	background: linear-gradient(69deg, $pink, $lavender, $maroon) left bottom $surface1 no-repeat;
	background-size: 100% 5px;
}

@mixin hoverTransition() {
	& {
		transition: transform 0.2s;
	}

	&:hover {
		transform: translate(-2px, -2px);
	}
}
